@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply w-[20vw] h-[3vw] text-[1vw] rounded-md px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent bg-purple-300/30
}

.text-gradient {
  background: linear-gradient(to bottom right, #9208C2, #309CFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-gradient {
  background: linear-gradient(to bottom right, #9208C2, #309CFF);
}

.spin-animation {
  animation: spin 3s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-origin: right center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: right center;
}

@keyframes spin {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}


.transition-all {
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.76, .17, .26, .96);
}

.file-upload-container {
  position: relative;
}

.custom-file-upload {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.custom-file-upload:hover {
  background-color: #e0e0e0;
}

.hidden-input {
  display: none;
}